/* Sobre.css */
#sobre .card {
  margin: 30px auto;
  max-width: 500px;
  text-align: center;
}

/* Versoes.css */
#versoes .card {
  margin: auto;
}

.versoes-p {
  margin-bottom: 5px;
}

.btn-versoes {
  padding: 12px 30px;
  border: none;
  background: #4fc3f7;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}