.footer {
  background-color: #1a0252;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer h3, .footer h4 {
  color: #4fc3f7;
}

/* NewsLetter Card */
.card-news {
  background: #0d1b2a;
  padding: 15px 20px;
  border-radius: 10px;
  width: 380px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.card-news h4 { font-size: 16px; }
.card-news p { font-size: 13px; opacity: 0.8; margin-top: 0 !important; border-top: none !important; padding-top: 0 !important; text-align: left !important;}

.card-news input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
}

.btn-footer {
  padding: 8px 20px;
  font-size: 12px;
  width: 100px;
  align-self: flex-end;
  border: none;
  background: #4fc3f7;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* Copyright Section */
.footer-copy {
  background: #0d1b2a;
  padding: 40px 10%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.navegacao-footer a{
  color: white;
}